{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link rel="stylesheet" type="text/css" href="{% static 'product_price/style.css' %}">

</head>
<body>

    <p class="title-product">Add Product</p>
    <a href="{% url 'product_price:index_product' %}">Home</a>
    <br>

    <form method="POST">
        {% csrf_token %}
        {{ form.product }}
        {{ form.price }}
<!--        {{ form.product_store }}-->
        <input class="button" type="submit" name="" value="Add Product">
    </form>
    <br>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}

</body>
</html>