{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'product_price/style.css' %}">
</head>
<body>

        {% if user.is_authenticated %}
            <div  class="link-log-in">
            <a href="{% url 'product_price:add_product' %}">Dodaj Produkt</a>
            <a href="{% url 'product_price:logout' %}">Wyloguj</a>
            </div>
        {% else %}
            <ul class="links-log">
                <li>
                    <a href="{% url 'product_price:login' %}">Zaloguj</a>
                </li>
                <li>
                    <a href="{% url 'product_price:signup' %}">Rejestracja</a>
                </li>
            </ul>
        {% endif %}

        {% block content %}{% endblock%}


</body>
</html>