<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        {% if user.is_authenticated %}
            <h1>Witaj w serwisie :)</h1>
            <h2>{{ user }}</h2>
            <a href="{% url 'product_price:add_product' %}">Dodaj Produkt</a>
            <br>
            <a href="{% url 'product_price:logout' %}">Logout</a>
            <br>
            <br>
            {% block content %}{% endblock%}

        {% else %}
            <h1>Aby skorzystać z serwisu zaloguj się lub zarejestruj</h1>
            <a href="{% url 'product_price:login' %}">Login</a>
            <a href="{% url 'product_price:signup' %}">Register</a>
        {% endif %}



</body>
</html>