{% extends "product_price/layout.html" %}

    <title>Products</title>

{% block content %}

                {% if all_products %}
                {% for product in all_products %}
                <div class="container">
                    <div class="d_product">{{ product }}</div>
                    <div class="d_price">{{ product.price }}</div>
                    <div class="d_store">|{{ product.product_store }}</div>
                </div>
                {% endfor %}
                {% endif %}

{% endblock content %}