{% extends "product_price/layout.html" %}
    <title>Products</title>
{% block content %}
        {% if all_products %}
        {% for product in all_products %}
        <div class="pure-g">
            <div class="pure-u-24-24 pure-u-sm-16-24">{{ product.product }}</div>
            <div class="pure-u-6-24 pure-u-sm-2-24">{{ product.product_kind }}</div>
            <div class="pure-u-6-24 pure-u-sm-2-24">{{ product.price }}</div>
            <div class="pure-u-6-24 pure-u-sm-2-24">{{ product.product_store }}</div>
            <div class="pure-u-6-24 pure-u-sm-2-24">{{ product.was_added }}</div>
        </div>
        {% endfor %}
        {% endif %}
{% endblock content %}