{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'product_price/style.css' %}">
</head>
<body>

    <form method="POST" class="input-message">
        {% csrf_token %}
        {{ form.username }}
<!--        placeholder="Your name.."-->
        {{ form.password1 }}
        {{ form.password2 }}
        <input class="button" type="submit" value="Signup">
    </form>

</body>
</html>